<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQmZBlkXKZc03NBSUdhDRgmS4JHfU_NaE</string>
	<key>GCM_SENDER_ID</key>
	<string>510969801502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaselogin</string>
	<key>PROJECT_ID</key>
	<string>fir-login-569c9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-569c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510969801502:ios:1c1f0767e70bf4f4fb370f</string>
</dict>
</plist>